pkgbase = nix-installer-bin
	pkgdesc = Determinate Nix Installer (prebuilt binary)
	pkgver = 3.21.0
	pkgrel = 1
	url = https://github.com/DeterminateSystems/nix-installer
	arch = x86_64
	arch = aarch64
	license = LGPL-2.1-only
	provides = nix-installer=3.21.0
	conflicts = nix-installer
	source_x86_64 = nix-installer-3.21.0-x86_64::https://github.com/DeterminateSystems/nix-installer/releases/download/v3.21.0/nix-installer-x86_64-linux
	sha256sums_x86_64 = b9911496659f0c35c642353d592926c024c205b597e8094bf73a42908a75e462
	source_aarch64 = nix-installer-3.21.0-aarch64::https://github.com/DeterminateSystems/nix-installer/releases/download/v3.21.0/nix-installer-aarch64-linux
	sha256sums_aarch64 = d2ede080a0a7b34119362f4a8a6fb5e49a4d16b302ce54c96cd05514bdea6c7c

pkgname = nix-installer-bin
